.header-slider .slick-dots {
    @include posA($top: 35%, $left: null, $delta_x: null, $delta_y: null);
    right: 4%;
}

.slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    & button {
        display: none;      
    }
    & li {
    width: 9px;
    height: 9px;
    border: $border-width solid $body-color;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 40px;
    cursor: pointer;
    @include tr ();
        @include hover {
        background-color: $body-color;
        transform: scale(1.4)
        }
    }
}

.news-slider {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	& .slick-dots {
		padding: 0;
		@include posA ($top: auto, $left: 50%, $delta_y: 0%); 
        bottom: -9%;
        @media screen and (max-width: 576px) {
            bottom: -17%; 
            max-width: 100%;
        }
        @media screen and (max-width: 360px) {
            display: none;
        }

		& li {
			margin: 0 25px;
            display: inline-block;
            @media screen and (max-width: 472px) {
                margin: 0 18px;
            }
		}
	}
}

.slide-news{
	padding: 0 5px;
}

.slider__arrow {
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: none !important;
    z-index: 10;
	cursor: pointer;	
}

@media screen and (min-width: 768px) {
    .slider__arrow {
        display: block !important;
    }
}

.slider__arrow--prev {
    left: -7%;
}

.slider__arrow--next {
    right: -7%;
}

.slider__arrow--prev i {
    display: inline-block;
    margin-left: -3px;
}

.slider__arrow--next i {
    display: inline-block;
    margin-right: -3px;
}