$title-ff   : 'Gotham Bold', sans-serif;
$body-ff    : 'Open Sans', sans-serif;
$btn-ff     : 'Gotham', sans-serif;


$body-color     : #fff;
$primary-color  : #7e5aff;
$secondary-color: #2c4058;
$blue-color     : #55b7ff;
$grey-color     : #4b5562;

// $grey-color:#333333;
// $medium-grey:#999999;
// $light-grey:#e8e8e8;

$container-width: 1170px;

$border-width   : 1px;

$body-bg        : $body-color;

$social-size    : 38px;

$space: 20px;