@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'socials';
@import 'slick';
@import 'slider';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;  
}

body {
    @include font($body-ff, 1.6rem, $body-color, $lh: 1.6);
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: $container-width;
    width: 100%;
    &--footer {
        max-width: 770px;
    }  
    @media screen and (max-width: 992px) {
        max-width: 750px;
    }
}

.section {
    overflow: hidden;  
    position: relative;
    padding: 60px 0;

    &__title {
        @include font($title-ff, 4.4rem, $secondary-color, 700, $lh: 2);
        text-transform: uppercase;
        @include clamp;
        text-align: center;
        padding: 20px 0;
        margin-top: 40px;
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 8%;
            height: calc(#{$border-width} * 1);
            background-color: $secondary-color;
            @include posA($top: 0%, $left: 50%, $delta_x: -50%, $delta_y: 0);
        }
        &--white {
            color: $body-color;
            &:before{
                background-color: $body-color;   
            }
        }
        
        
    }
    &--office {
        margin: 0 0 100px;
        padding: 0;
    }
    &--bg{
        @include bg;
        padding: 60px 0 150px;
        min-height: 100vh;
    }
    &--map{
        position: relative;
        overflow: visible;
        padding: 0;
    }

}

.header {
    position: relative;
    background-color: $grey-color;
    margin-bottom: 50px;
    height: 100vh;
    &__bg{
        @include posA;
        min-width: 100%;
        height: 100vh;
    }
}

.scroll {
    @include posA ($top: auto, $left: 50%, $delta_y: 0); 
    text-align: center;
    bottom: 10%;
    width: $social-size;
    height: $social-size;
    line-height: calc(#{$social-size} - 2 * #{$border-width});
    display: inline-block;
    border-radius: 50%;
    border: $border-width solid rgba($body-color, .4); 
    z-index: 20;  
    color: $body-color;           
    @include hover {
        color: $primary-color;
        background-color: $body-color;
        border-color:rgba($body-color, 1);
    }  
}

.office {
    margin-top: 100px;
    width: 100%;
    @include flex ($align-items: center, $justify-content: space-between);
    // @media screen and (max-width: 768px) {
    //     flex-wrap: wrap; 
    //     justify-content: center;
    // }  
    &--reverse {
        flex-direction: row-reverse;
        margin-top: 150px;
    }
    &__img{
        max-width: 630px; 
        width: 100%;
        // width: 54%;
    }
    &__info{
        max-width: 500px;
        width: 100%;
        // width: 41%;
    }
    &__title {
        @include font($title-ff, 4.4rem, $secondary-color, 700, $lh: 1.6);
        text-transform: uppercase;
        margin: 0 0 20px 0;
        @include clamp($line-clamp: 1);
    }
    &__subtitle {
        @include font($title-ff, 2.4rem, $secondary-color, 400, $lh: 1);
        text-transform: uppercase;
        @include clamp($line-clamp: 1);
    }
    &__text {
        @include font($body-ff, 1.8rem, $grey-color, 400, $lh: 1.6);
        @include clamp($line-clamp: 3);
    }
    &__btn {
        margin: 40px 0 60px 0;
    }
    &__link {
        text-decoration: none;
        @include font($btn-ff, 1.4rem, $secondary-color, 400, $lh: 1);
        cursor: pointer;
        display: block;
        @include tr;
        @include hover {
            color: $primary-color; 
        } 
    }
}


.img__wrap {
    background-color: $grey-color;
    position: relative;
    width: 100%;
    padding-top: 74%;
    overflow: hidden;  
    box-shadow: -140px -70px 0px 0px $blue-color;
    &--reverse {
        box-shadow: 140px -70px 0px 0px $primary-color;
    }
}

.img{
    min-width: 100%;
    min-height: 100%;
    @include posA;
}

.btn{
    display: inline-block;
    background-color: rgba($primary-color, .0);
    border: $border-width solid rgba($secondary-color, 1);
    @include font($btn-ff, 1.4rem, $secondary-color, 400, $lh: 1.8);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    @include tr;
    @include hover {
        background-color: rgba($primary-color, 1);
        border-color: $primary-color;
        color: $body-color; 
    } 
    &--centered {
        margin: 60px 0; 
        text-align: center;  
    }
    &--icon {
        padding: 0;
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 2.1rem;
    } 
    &--slide {
        color: rgba($body-color, 1);
        background-color: transparent;
	    border-color: $body-color ;
	    border-radius: 50%;
	    border: $border-width solid $body-color;
    } 
}

.card{
    height: 515px;
    background-color: $body-color;
    margin: 10px;
    flex: 0 1 370px;
    position: relative;
    @include hover{
        box-shadow: 0 0 $border-width $grey-color;
    } 
    &__link{
        height: 100%;
        display: block;
        text-decoration: none;
        padding: $space;
        outline: none;
    }
    &__title{
        @include font($title-ff, 2.2rem, $secondary-color, 700, $lh: 1.5);
        margin: 30px 0 20px 0;
        text-transform: uppercase;
        @include tr;
        @include hover {
            color: $primary-color; 
        } 
        @include clamp($line-clamp: 2);
    }
    &__text{
        text-decoration: none;
        @include font($body-ff, 1.8rem, $grey-color, 400, $lh: 1.6);
        @include clamp($line-clamp: 2);
        margin-bottom: 40px;
    }
  
    &__img-wrap{
        position: relative;
        height: 240px;
        overflow: hidden;
        margin: -1 * $space -1 * $space $space;
    }
    &__img{
        @include posA;
        min-width: 100%;
        min-height: 100%;
    }

    &__author{
        text-decoration: none;
        @include posA ($top: null, $left: 0, $delta_x: 0, $delta_y: 0); 
        bottom: -3%;
        @include flex ($align-items: center, $justify-content: space-between);
        margin: 30px 0 10px 0;
        outline: none;  
    }

    &__author-img-wrap{
        border-radius: 50%;
        height: 60px;
        width: 60px;
        overflow: hidden;
        position: relative;
        margin: 30px 20px;
    }

    &__author-text{
        height: 100%;
        @include flex ($align-items: left, $justify-content: center);
        flex-direction: column;
    }

    &__author-name{
        @include font($title-ff, 1.8rem, $secondary-color, 400, $lh: 1.2);
        text-transform: uppercase;
        margin: 0 0 10px 0;
        @include hover{
        color: $primary-color;
        }
    }

    &__post-date{
        @include font($btn-ff, 1.4rem, $blue-color, 400, $lh: 1.6);
        // padding-right: 2rem;
        margin-bottom: auto;
    }
}


.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    &__item {
        position: relative;
        padding-top: 70%;
        overflow: hidden;
        cursor: pointer;
        &__img {
            min-width: 100%;
            min-height: 100%;
            @include posA;
            object-fit: cover;
            object-position: center;
            @include tr;
        }
        &:after {
            content: url(../img/globe.svg);
            @include posA ($top: 45%, $left: 50%, $delta_x: -50%, $delta_y: -50%); 
            display: block;
            width: 30%;
            height: 30%;
            z-index: 1;
            opacity: 0; 
            @include tr;
        }
        @include hover{  
        img{
            @include tr;
             transform: translate(-50%, -50%) scale(1.2);   
        }
        &:hover:after {
            @include tr;
            opacity: 1;
        }
      
        }
        &:nth-child(1) {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
        }
    }
}


#map{
    width: 100%;
    height: 100vh;
}

.map-wrap{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.title--contact{
    font-weight: 500;
    padding: 0;
    margin: 0;
    &:before{
        width: 15%;
    }
}

.contact{
    z-index: 10;
    @include posA ($top: auto, $left: 50%, $delta_x: -50%, $delta_y: 40%); 
    background: rgba($body-color, .5);
    bottom: 10%;
    overflow: hidden;
    padding: 40px 60px 40px 60px;
    @include bg ($bg-pos:center bottom, $bg-size:contain, $bg-repeat:no-repeat);
    &__wrap{ 
        position: relative;
        @include flex ($align-items: center, $justify-content: space-between);
    }

    &__links{
        @include flex ($align-items: left, $justify-content: space-between);
        flex-direction: column;
        width: 48%;
        
    }

    &__form{
        @include flex ($align-items: left, $justify-content: space-between);
        flex-direction: column;
        width: 48%;
    }


    &__link{
        @include font($btn-ff, 1.8rem, $secondary-color, 400, $lh: 1.6);
        max-height: 34px;
        overflow: hidden;
        margin: 10px 10px 15px 15px;
        text-decoration: none;
        cursor: pointer;
        & i{
            color: $primary-color ;
        }

        @include hover{
            transform: translate(0%, 0%) scale(1.2);
        }
    }

    &__input{
        margin: 12px 0;
        outline: none;
        &--btn{
            margin: 30px 0 0 auto;
            background-color: rgba($body-color, .5);
        }

        &--text{
            @include font($btn-ff, 1.8rem, $secondary-color, 400, $lh: 1.8);
            max-height: 58px;
            padding: 10px 0;
            overflow: hidden;
            border: 0;
            border-bottom: $border-width solid $grey-color;
            &:focus:invalid{
                border-bottom: 1px solid red;
            }

            &:focus:valid{
                border-bottom: 1px solid green;
            }

        }
    }
}






.footer{
    background-color: $secondary-color;
    padding: 140px 0 80px;
    @include bg;
    min-width:100%;
    &__sign {
        @include flex ($align-items: center, $justify-content: space-between);
    }
    &__copy {
        margin: 30px 0;
        @include font($btn-ff, 1.4rem, $body-color, 400, $lh: 1.6);
        &__link{
            text-decoration: none;
            @include font($btn-ff, 1.4rem, $body-color, 400, $lh: 1.6);
            @include hover{
                color: $primary-color;
            }
        }
    }
}

.gm-style-iw-d {
    @include font($btn-ff, 1.4rem, $secondary-color, 400, $lh: 1.6);
    padding: 10px;
}




